<head>
  <meta charset="utf-8">


	
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

	{% include styles.html %}


<!-- SAGE stuff -->
    <script src="https://sagecell.sagemath.org/static/jquery.min.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <link rel="stylesheet" type="text/css" href="https://sagecell.sagemath.org/static/sagecell_embed.css">
    <!-- Cell definitions -->
    <script>$(function () {
    // Basic Sage cell. Use <div class = "sage">
    sagecell.makeSagecell({inputLocation: '.sage'});
    // Auto evaluate Sage. Use <div class="auto">
    sagecell.makeSagecell({inputLocation: '.auto', autoeval: 'True'});
    // No editor, auto evaluate Sage. Use <div class="auto_out">
    sagecell.makeSagecell({inputLocation: '.auto_out', autoeval: 'True', hide: ["editor", "evalButton", "editorToggle"]}); 
   // No evalButton. Use <div class="no_eval">
    sagecell.makeSagecell({inputLocation: '.no_eval', hide: ["evalButton", "editorToggle"]});     
   // No output. Use <div class="no_out">
    sagecell.makeSagecell({inputLocation: '.no_out', hide: ["evalButton", "editorToggle","output"]});      
    // Only the 'Go!' button; no input displayed. Use <div class="go">
    sagecell.makeSagecell({inputLocation:  '.go', autoeval: 'True',
                       template:       sagecell.templates.minimal,
                       evalButtonText: 'Go!'});
    // Linked Sage cell. Use <div class ="linked">
    sagecell.makeSagecell({inputLocation: '.linked', linked: 'True'});
    // Linked Sage cell with autoeval. Use <div class ="linked_auto">
    sagecell.makeSagecell({inputLocation: '.linked_auto', linked: 'True', autoeval: 'True'});
    // All languages. Use <div class = "all">
        sagecell.makeSagecell({inputLocation: '.all', languages: sagecell.allLanguages});
    });
    </script>
    <!-- Basic Sage -->
    <script>sagecell.makeSagecell({"inputLocation": ".sage"});</script>
	
	 <!-- calendar -->
    <script type="text/javascript" src="js/tabletop1.3.4.js"></script>
    <script type="text/javascript" src='js/sheetsee.js'></script>
    <script type="text/javascript" src='js/table.js'></script>
    <script type="text/javascript" src='js/leaflet.markercluster.js'></script>
    <!-- Bonus NodeSchool stylesheet option! -->
    <!-- <link rel="stylesheet" type="text/css" href="css/nodeschool.css"> -->

</head>
